.contact-form {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 1000px) {
    gap: 2rem;
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  &__image {
    img {
      display: block;
      width: 100%;
      height: 900px;
      object-fit: cover;
      object-position: center;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__form {
    @media screen and (max-width: 768px) {
      margin-top: 20px;
    }
    &--content {
      form {
        padding: 4rem;
        border: 1px solid $color-grey;
        border-top: 5px solid $color-main;

        background-color: $color-white;
        @media screen and (max-width: 768px) {
          padding: 2rem;
        }

        button {
          cursor: pointer;
          margin-top: 2rem;
        }

        i {
          font-size: 5px;
          border-radius: 50%;
          color: red;
          margin-right: 5px;
        }
        h2 {
          margin-bottom: 1rem;
        }
        p {
          color: $color-text-secondary;
          font-size: 1.8rem;
          line-height: 24px;
          margin-bottom: 2rem;
          @media screen and (max-width: 768px) {
            font-size: 1.6rem;
            line-height: 20px;
          }
        }

        .row {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
          margin-bottom: 2.5rem;
          @media screen and (max-width: 475px) {
            grid-template-columns: 1fr;
          }

          div {
            display: flex;
            flex-direction: column;
          }
        }
        .textarea-message {
          display: flex;
          flex-direction: column;

          textarea {
            resize: none;
            padding: 12px 18px;
            border-radius: 10px;
            outline: none;
            border: 0;
            font-size: 1.8rem;
            font-family: $font-general;
            font-weight: 400;
            background-color: rgba($color-main, 0.2);
            color: $color-text-secondary;
            border: 1px solid transparent;
            &:focus {
              border: 1px solid $color-main;
            }
          }
        }
        label {
          margin-bottom: 0.5rem;
          font-weight: 500;
          font-size: 1.6rem;
          color: $color-text-main;
          display: flex;
          align-items: center;
        }

        input,
        select {
          padding: 12px 18px;
          border-radius: 25px;
          font-family: $font-general;
          font-weight: 400;
          outline: none;
          border: 0;
          font-size: 1.8rem;
          background-color: rgba($color-main, 0.2);
          color: $color-text-secondary;
          border: 1px solid transparent;
          &:focus {
            border: 1px solid $color-main;
          }
        }

        ::placeholder {
          font-size: 1.6rem;
          color: $color-text-third;
        }
      }
    }
  }
}
