.all-products-container {
  margin-bottom: 8rem;
  @media screen and (max-width: 1200px) {
    padding: 0 1rem;
    margin-bottom: 4rem;
  }
  .explore-products {
    padding: 8rem 0;
    display: grid;
    align-items: center;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    @media screen and (max-width: 1000px) {
      padding: 7rem 1rem;
    }
    @media screen and (max-width: 768px) {
      padding: 6rem 1rem;
    }
    @media screen and (max-width: 475px) {
      padding: 5rem 1rem;
      grid-template-columns: 1fr;
    }

    h1 {
      color: $color-text-main;
    }

    .product-categories-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
      text-align: center;
      border-left: 1px solid $color-grey;
      padding-left: 2rem;
      @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 475px) {
        border-left: 0px;
        padding-left: 0rem;
        border-top: 1px solid $color-grey;
        padding-top: 2rem;
      }
      a {
        color: $color-text-secondary;
        font-size: 1.4rem;
        padding: 5px 8px;
        border-radius: 20px;
        background-color: $color-grey-light;
        transition: all 0.2s ease;
        font-weight: 500;
        &:hover {
          background-color: $color-main;
        }
      }
    }
  }
}

.edible-salt-container,
.salt-plates-container,
.salt-lamps-container,
.candle-holders-container,
.bath-salt-container,
.salt-tiles-container,
.lick-salt-container,
.aroma-therapy-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 400px;

  &__details {
    display: flex;
    align-items: center;

    &--content {
      padding: 3rem 5rem;
      background-color: rgba($color-grey-light, 0.95);
      text-align: center;

      @media screen and (max-width: 1200px) {
        padding: 2rem 3.5rem;
      }
      @media screen and (max-width: 1000px) {
        padding: 1.5rem 2.5rem;
      }
      @media screen and (max-width: 768px) {
        padding: 2.5rem;
      }

      h2 {
        display: inline-block;
        margin-bottom: 2rem;
        padding-bottom: 0.2rem;
        border-bottom: 5px solid $color-main;
      }
      p {
        font-size: 1.8rem;
        line-height: 24px;
        color: $color-text-secondary;
        margin-bottom: 2rem;
        @media screen and (max-width: 768px) {
          font-size: 1.6rem;
          line-height: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
  }
}

.edible-salt-container {
  @media screen and (max-width: 768px) {
  }
  &__bg {
    background: url("../assets/products/edible-salt-bg.jpg");
  }

  &__details {
    &--content {
      transform: translateX(-150px);
      @media screen and (max-width: 1200px) {
        transform: translateX(-125px);
      }
      @media screen and (max-width: 1000px) {
        transform: translateX(-100px);
      }
      @media screen and (max-width: 768px) {
        transform: translateX(0px);
      }
    }
  }
}
.salt-plates-container {
  &__bg {
    background: url("../assets/products/salt-plates-bg.JPG");
    @media screen and (max-width: 768px) {
      grid-row: 2/3;
    }
  }
  &__details {
    &--content {
      transform: translateX(150px);
      @media screen and (max-width: 1200px) {
        transform: translateX(125px);
      }
      @media screen and (max-width: 1000px) {
        transform: translateX(100px);
      }
      @media screen and (max-width: 768px) {
        transform: translateX(0px);
      }
    }
  }
}
.salt-lamps-container {
  &__bg {
    background: url("../assets/products/salt-lamps-bg.jpg");
    @media screen and (max-width: 768px) {
      grid-row: 2/3;
    }
  }

  &__details {
    &--content {
      transform: translateX(-150px);
      @media screen and (max-width: 1200px) {
        transform: translateX(-125px);
      }
      @media screen and (max-width: 1000px) {
        transform: translateX(-100px);
      }
      @media screen and (max-width: 768px) {
        transform: translateX(0px);
      }
    }
  }
}
.candle-holders-container {
  &__bg {
    background: url("../assets/products/candle-holders-bg.jpg");
  }
  &__details {
    &--content {
      transform: translateX(150px);
      @media screen and (max-width: 1200px) {
        transform: translateX(125px);
      }
      @media screen and (max-width: 1000px) {
        transform: translateX(100px);
      }
      @media screen and (max-width: 768px) {
        transform: translateX(0px);
      }
    }
  }
}
.bath-salt-container {
  &__bg {
    background: url("../assets/products/bath-salt-bg.png");
    @media screen and (max-width: 768px) {
      grid-row: 2/3;
    }
  }

  &__details {
    &--content {
      transform: translateX(-150px);
      @media screen and (max-width: 1200px) {
        transform: translateX(-125px);
      }
      @media screen and (max-width: 1000px) {
        transform: translateX(-100px);
      }
      @media screen and (max-width: 768px) {
        transform: translateX(0px);
      }
    }
  }
}
.salt-tiles-container {
  &__bg {
    background: url("../assets/products/Salt-tiles-bg.jpg");
  }
  &__details {
    &--content {
      transform: translateX(150px);
      @media screen and (max-width: 1200px) {
        transform: translateX(125px);
      }
      @media screen and (max-width: 1000px) {
        transform: translateX(100px);
      }
      @media screen and (max-width: 768px) {
        transform: translateX(0px);
      }
    }
  }
}
.lick-salt-container {
  &__bg {
    background: url("../assets/products/lick-salt-bg.jpg");
    @media screen and (max-width: 768px) {
      grid-row: 2/3;
    }
  }

  &__details {
    &--content {
      transform: translateX(-150px);
      @media screen and (max-width: 1200px) {
        transform: translateX(-125px);
      }
      @media screen and (max-width: 1000px) {
        transform: translateX(-100px);
      }
      @media screen and (max-width: 768px) {
        transform: translateX(0px);
      }
    }
  }
}
.aroma-therapy-container {
  margin-bottom: 0rem;
  &__bg {
    background: url("../assets/products/aroma-therapy-bg.jpg");
  }
  &__details {
    &--content {
      transform: translateX(150px);
      @media screen and (max-width: 1200px) {
        transform: translateX(125px);
      }
      @media screen and (max-width: 1000px) {
        transform: translateX(100px);
      }
      @media screen and (max-width: 768px) {
        transform: translateX(0px);
      }
    }
  }
}

.edible-salt-container,
.salt-tiles-container,
.salt-lamps-container,
.bath-salt-container,
.candle-holders-container,
.lick-salt-container,
.salt-plates-container,
.aroma-therapy-container {
  &:not(:last-of-type) {
    margin-bottom: 8rem;
    @media screen and (max-width: 1000px) {
      margin-bottom: 6rem;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 4rem;
    }
  }
  &__bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

// Salt Lamp Categories

.salt-lamps-categories {
  .natural-lamps,
  .geometrical-lamps,
  .iron-basket-lamps,
  .hand-crafted-lamps {
    text-align: center;
    padding: 4rem 0;
    border-bottom: 1px solid $color-grey;
    @media screen and (max-width: 768px) {
      padding: 2rem 0;
    }

    h2 {
      color: $color-text-main;
      margin-bottom: 4rem;
      border-bottom: 5px solid $color-main;
      display: inline-block;
    }
    a {
      margin-top: 4rem;
      @media screen and (max-width: 768px) {
        margin-top: 2rem;
      }
    }
    .lamps-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 4rem;

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      }
      @media screen and (max-width: 475px) {
        grid-template-columns: 1fr;
      }

      .lamp-product {
        img {
          height: 300px;
          width: 100%;
          display: block;
        }
        @media screen and (max-width: 475px) {
          &:nth-child(3),
          &:nth-child(4) {
            display: none;
          }
        }
      }
    }
  }
}
